@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Russo+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);
html {
  font-size: 30px;
  --font-color-light: #f0f0f0;
  --invisible-color: #cdcdcd;
  --first-color-ancient: #5A3D30;
  --font-color-ancient: #45322E;
  --first-color-antiquity: #dcdcdc;
  --font-color-antiquity: #909090;
  --first-color-middle-ages: #99958C;
  --font-color-middle-ages: #606060;
  --first-color-new-time: #4D7198;
  --font-color-new-time: #395778;
  --first-color-modern: #7442C8;
  --font-color-modern: #423189;
}

body, html {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #232526 0%, #414345 100%);
  z-index: 999;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.loader .loading-object {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 10rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 690px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 850px) {
  html {
    font-size: 36px;
  }
}

@media (min-width: 993px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1160px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 23px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 28px;
  }
}

.test {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 0;
  height: 0;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--first-color-ancient)), to(var(--font-color-ancient)));
  background: linear-gradient(180deg, var(--first-color-ancient) 0%, var(--font-color-ancient) 100%);
  z-index: 899;
  border-radius: 1rem;
  font-family: 'Oswald';
  padding: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  white-space: nowrap;
}

.test .display-none {
  display: none;
}

.test .test_display, .test .choose-test_display, .test .test_show-answer {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.test .test__head-text {
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: #fff;
  font-size: .9rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.test .test__answers {
  display: -ms-grid;
  display: grid;
  margin: 2rem 1.5rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: .75rem;
  padding: 0;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2rem;
  font-weight: 300;
  color: var(--font-color-light);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.test .test__answers li input, .test .test__answers li label {
  cursor: pointer;
  vertical-align: middle;
}

.test p {
  color: var(--font-color-light);
  font-family: 'Oswald';
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.test .test__show-level {
  margin-left: 1.5rem;
  max-width: 90%;
  white-space: normal;
}

.test .test__score {
  display: block;
  position: absolute;
  color: var(--font-color-light);
  right: 1rem;
  bottom: 1rem;
}

.test.correct-answer {
  -webkit-box-shadow: 0 0 2.5rem 1rem rgba(19, 136, 8, 0.75);
          box-shadow: 0 0 2.5rem 1rem rgba(19, 136, 8, 0.75);
}

.test.uncorrect-answer {
  -webkit-box-shadow: 0 0 2.5rem 1rem rgba(191, 20, 8, 0.75);
          box-shadow: 0 0 2.5rem 1rem rgba(191, 20, 8, 0.75);
}

.test-background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 500;
}

.test-visible {
  width: 20rem;
  height: 17.5rem;
  top: calc(50vh - 8.75rem);
  left: calc(50vw - 10rem);
}

.test-visible + .test-background {
  display: block;
}

.with-test {
  z-index: -100;
  -webkit-filter: blur(5px) grayscale(0.75);
          filter: blur(5px) grayscale(0.75);
}

header {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header h1 {
  margin-left: 2.5rem;
  margin-top: 0;
  padding-top: 3rem;
  font-family: 'Russo One';
  font-size: 5rem;
  text-transform: capitalize;
}

header .quote {
  display: block;
  position: relative;
  font-size: 1rem;
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: 'Oswald';
  width: 7em;
  font-weight: 200;
}

header .quote b {
  display: block;
  position: absolute;
  right: 0;
}

header .quote::before {
  content: '“';
  display: block;
  position: absolute;
  font-size: 10em;
  font-weight: normal;
  left: -4rem;
  top: -3.25rem;
  color: var(--font-color-light);
}

header .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 7rem;
  font-family: 'Oswald';
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .images img {
  height: 7em;
}

header .images .images__ancient {
  padding-left: 2em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

header .images .images__modern {
  text-align: right;
  padding-right: 2em;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

header .images .moment {
  display: block;
  position: absolute;
  font-size: 4em;
  color: var(--font-color-light);
  bottom: -35%;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

header .images:hover .images__ancient:not(:hover) {
  -webkit-filter: sepia(50%) blur(2px) grayscale(0.3);
          filter: sepia(50%) blur(2px) grayscale(0.3);
}

header .images:hover .images__modern:not(:hover) {
  -webkit-filter: sepia(50%) blur(2px) grayscale(0.3);
          filter: sepia(50%) blur(2px) grayscale(0.3);
}

main {
  position: relative;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

main .sections {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (100vw)[5];
      grid-template-columns: repeat(5, 100vw);
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

main .sections:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main .sections .time-period {
  padding: 0;
  color: var(--font-color-light);
  position: relative;
  width: 100vw;
  height: 88.5vh;
}

main .sections .time-period .head-text {
  font-family: 'Russo one';
  font-size: 3rem;
  margin-left: 2rem;
  max-width: 20rem;
  margin-top: 4rem;
}

main .sections .time-period .information-list {
  font-family: 'Oswald';
  margin: 1rem auto 0;
  padding: 0;
  font-size: 1rem;
  width: 66.667vw;
  font-weight: 200;
}

main .sections .time-period .information-list li {
  margin-top: 2rem;
}

main .sections .time-period .information-list .information-right {
  text-align: right;
}

main .sections .time-period::before {
  content: '';
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: -1;
  background-size: cover;
  -webkit-filter: blur(8px) brightness(45%);
          filter: blur(8px) brightness(45%);
}

main .sections .time-period .swiper-arrows::before, main .sections .time-period .swiper-arrows::after {
  content: '';
  display: block;
  position: absolute;
  height: 1.67rem;
  width: 1rem;
  background-image: url(../img/arrow.svg);
  background-size: cover;
  bottom: .667rem;
}

main .sections .time-period .swiper-arrows::before {
  left: 1.33rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .sections .time-period .swiper-arrows::after {
  right: 1.33rem;
}

main .sections .ancient-period::before {
  background-image: url(../img/index/ancient.jpg);
  background-position: -19.6rem 0;
}

main .sections .ancient-period span.swiper-arrows::before {
  visibility: hidden;
}

main .sections .antiquity-period::before {
  background-image: url(../img/index/antiquity.jpg);
  background-position: -20.2rem 0;
}

main .sections .middle-ages-period::before {
  background-image: url(../img/index/middle-ages.jpg);
  background-position: -15.63rem 0;
}

main .sections .new-time-period::before {
  background-image: url(../img/index/new-time.jpg);
  background-position: -27.2rem 0;
}

main .sections .modern-period::before {
  background-position: -13.7rem 0;
  background-image: url(../img/index/modern.webp);
}

main .sections .modern-period .swiper-arrows::after {
  display: none;
}

main .time-straight {
  --time-color: var(--first-color-ancient);
  --next-time-color: var(--first-color-antiquity);
  --font-color: var(--font-color-ancient);
  margin: 2rem auto;
  width: 86.5vw;
  position: relative;
  cursor: pointer;
}

main .time-straight .time-straight__periods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -1.33rem;
  top: -1.33rem;
  font-family: 'Russo One';
  font-size: .67rem;
  color: var(--font-color);
  padding-left: 1.33rem;
}

main .time-straight .time-straight__periods li {
  text-align: center;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

main .time-straight .time-straight__periods .ancient {
  width: 27.78vw;
}

main .time-straight .time-straight__periods .antiquity {
  width: 18vw;
}

main .time-straight .time-straight__periods .middle-ages {
  width: 15.3vw;
  margin-left: -2vw;
}

main .time-straight .time-straight__periods .new-time {
  width: 12.5vw;
  margin-left: -1.5vw;
}

main .time-straight .time-straight__periods .modern {
  width: 6.95vw;
  margin-left: -4vw;
}

main .time-straight .time-arrow {
  display: inline-block;
  position: relative;
  width: 85vw;
  height: 5px;
  background-color: var(--time-color);
}

main .time-straight .time-arrow::after {
  content: '';
  display: block;
  position: absolute;
  right: -0.667rem;
  top: -.5rem;
  border-top: .667rem solid transparent;
  border-left: 1rem solid var(--time-color);
  border-bottom: .667rem solid transparent;
}

main .time-straight .christ-birth {
  display: inline-block;
  margin-top: 0.2rem;
  position: relative;
  left: 50%;
  font-family: 'Russo One';
  font-size: 1rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .time-straight .christ-birth::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.1rem;
  left: 37.5%;
  height: 1.2rem;
  width: .25rem;
  background-color: var(--time-color);
}

main .time-straight .period-focus {
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(var(--time-color)), to(var(--next-time-color)));
  background: linear-gradient(90deg, var(--time-color) 0%, var(--next-time-color) 100%);
  width: 27.78vw;
  bottom: 1.43rem;
  height: .667rem;
  left: 0;
  border-radius: .667rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (min-width: 993px) {
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header h1 {
    margin-left: 5rem;
  }
  header .quote {
    margin-top: 4rem;
    margin-left: 11.4rem;
    font-size: 1.5rem;
  }
  header .quote::before {
    left: -6rem;
    top: -4.9rem;
  }
  header .take-test-btn {
    margin-top: 1rem;
  }
  header .images {
    font-size: 4vh;
    bottom: 1.5rem;
  }
  header .images .images__ancient {
    margin-right: 3em;
  }
  header .images .images__modern {
    margin-left: 3em;
  }
  header .images .moment {
    bottom: 30%;
  }
  main div.sections {
    -webkit-transition: left .85s ease-in-out;
    transition: left .85s ease-in-out;
  }
  main div.sections section.time-period {
    height: 85vh;
  }
  main div.sections section.time-period .head-text {
    font-family: 'Russo one';
    font-size: 3rem;
    text-align: center;
    max-width: 95%;
    margin-top: 3rem;
  }
  main div.sections section.time-period .information-list {
    font-size: 1.5rem;
  }
  main div.sections section.time-period .information-list li {
    margin-top: .75rem;
  }
  main div.sections section.time-period .goto-period {
    margin: 1.5rem auto 0;
  }
  main div.sections section.time-period::before {
    background-position: 0 -2rem;
  }
  main div.time-straight {
    margin-top: 1.5rem;
  }
  main div.time-straight .time-arrow::after {
    top: -.6rem;
  }
  main div.time-straight ul.time-straight__periods li.modern, main div.time-straight ul.time-straight__periods li.new-time, main div.time-straight ul.time-straight__periods li.middle-ages {
    margin-left: 0;
  }
  main div.time-straight ul.time-straight__periods li.modern {
    margin-left: -.8vw;
  }
}

.btn {
  background: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.close-test-btn:not(.close-score) {
  background: none;
  border: none;
  position: absolute;
  z-index: 100;
  right: 0;
  top: -.5rem;
  margin-top: 0;
  padding: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.close-test-btn:not(.close-score) .lines {
  position: relative;
}

.close-test-btn:not(.close-score) .lines::before, .close-test-btn:not(.close-score) .lines::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 1.5rem;
  width: .1rem;
  background-color: var(--font-color-light);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.close-test-btn:not(.close-score) .lines::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-test-btn:not(.close-score) .lines::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-test-btn:not(.close-score):hover .lines::before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.close-test-btn:not(.close-score):hover .lines::after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.close-test-btn:not(.close-score):active .lines::before {
  -webkit-transform: rotate(55deg);
          transform: rotate(55deg);
}

.close-test-btn:not(.close-score):active .lines::after {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.back-to-choose-btn {
  z-index: 100;
  display: block;
  position: absolute;
  top: 3rem;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  opacity: 0.5;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.back-to-choose-btn svg {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.back-to-choose-btn:hover {
  opacity: 1;
}

.back-to-choose-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.difficult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  font-family: 'Oswald';
}

.difficult .btn {
  display: block;
  text-align: center;
  position: relative;
  height: 2.5rem;
  margin-top: 2rem;
  width: 7rem;
  font-size: .75rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--difficult-color);
  color: var(--difficult-color);
  background: none;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.difficult .btn::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  background-color: var(--difficult-color);
  width: 0;
  height: 0;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.difficult .btn:hover {
  color: var(--font-color-light);
}

.difficult .btn:hover::before {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  font-size: 1rem;
}

.difficult .btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.difficult .btn[data-difficult="0"] {
  --difficult-color: #138808;
}

.difficult .btn[data-difficult="1"] {
  --difficult-color: #CFB53B;
}

.difficult .btn[data-difficult="2"] {
  --difficult-color: #ED760E;
}

.difficult .btn[data-difficult="3"] {
  --difficult-color: #BF1408;
}

@-webkit-keyframes errored-test {
  from {
    margin-left: 0;
  }
  50% {
    margin-left: .5rem;
  }
  to {
    margin-left: -.5rem;
  }
}

@keyframes errored-test {
  from {
    margin-left: 0;
  }
  50% {
    margin-left: .5rem;
  }
  to {
    margin-left: -.5rem;
  }
}

.make-answer-btn, .continue-test-btn, .close-score {
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 7rem;
  height: 2rem;
  text-align: center;
  background: none;
  font-size: 1rem;
  border: 1px solid var(--font-color-light);
  border-radius: 3rem;
  font-family: 'Oswald';
  color: #fff;
  font-weight: 300;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.make-answer-btn::before, .continue-test-btn::before, .close-score::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  background-color: var(--font-color-light);
  width: 0;
  height: 0;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.make-answer-btn:hover, .continue-test-btn:hover, .close-score:hover {
  color: var(--font-color-ancient);
}

.make-answer-btn:hover::before, .continue-test-btn:hover::before, .close-score:hover::before {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  font-size: 1rem;
}

.make-answer-btn:active, .continue-test-btn:active, .close-score:active {
  -webkit-transform: translateX(-50%) scale(0.95);
          transform: translateX(-50%) scale(0.95);
}

.errored {
  -webkit-animation: errored-test .1s ease .1s infinite alternate;
          animation: errored-test .1s ease .1s infinite alternate;
}

.take-test-btn {
  display: block;
  position: relative;
  margin: 3rem auto 0;
  width: 8rem;
  height: 2.4rem;
  border: 2px solid var(--first-color-ancient);
  background: none;
  border-radius: 2rem;
  font-family: 'Oswald';
  font-size: 1rem;
  color: var(--first-color-ancient);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.take-test-btn::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  background-color: var(--first-color-ancient);
  width: 0;
  height: 0;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.take-test-btn:hover {
  color: var(--font-color-light);
}

.take-test-btn:hover::before {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  font-size: 1rem;
}

.take-test-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.arrow-down-btn {
  display: block;
  position: absolute;
  border: none;
  padding: .25rem;
  left: 50%;
  bottom: 1.667rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  height: 1.833rem;
  width: 3rem;
}

.arrow-down-btn:hover {
  -webkit-transform: translateX(-50%) translateY(0.5rem);
          transform: translateX(-50%) translateY(0.5rem);
}

.goto-period {
  display: block;
  width: 9.75rem;
  max-height: 3rem;
  padding: .55rem 0;
  margin: 4rem auto 0;
  border: 3px solid #FFFFFF;
  background-color: rgba(51, 51, 51, 0.33);
  border-radius: 3rem;
  color: var(--font-color-light);
  font-size: 1.2rem;
  font-family: 'Oswald';
  text-align: center;
}

.goto-period .svg-img {
  height: 1rem;
  margin-left: .7rem;
  vertical-align: middle;
}

.goto-period .svg-img svg {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.goto-period:hover svg {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}
/*# sourceMappingURL=index.css.map */