@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Russo+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);
html {
  font-size: 30px;
  --font-color-light: #f0f0f0;
  --first-color-ancient: #45322E;
  --first-color-antiquity: #dcdcdc;
  --font-color-antiquity: #909090;
}

body, html {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}

header .canvas-header {
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  z-index: -999;
  height: 100vh;
  width: 100vw;
}

header h1 {
  margin-left: 2.5rem;
  margin-top: 0;
  padding-top: 3rem;
  font-family: 'Russo One';
  font-size: 5rem;
  text-transform: capitalize;
}

header .quote {
  display: block;
  position: relative;
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: 'Oswald';
  width: 7rem;
  font-weight: 200;
}

header .quote b {
  display: block;
  position: absolute;
  right: 0;
}

header .quote::before {
  content: '“';
  display: block;
  position: absolute;
  font-size: 10rem;
  font-weight: normal;
  left: -4rem;
  top: -3.25rem;
  color: var(--font-color-light);
}

main {
  height: 100vh;
  overflow: hidden;
}

main .sections {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (100vw)[5];
      grid-template-columns: repeat(5, 100vw);
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

main .sections:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main .sections .time-period {
  padding: 0;
  color: var(--font-color-light);
  position: relative;
  width: 100vw;
  height: 85vh;
}

main .sections .time-period .head-text {
  font-family: 'Russo one';
  font-size: 3rem;
  margin-left: 2rem;
  max-width: 20rem;
  margin-top: 4rem;
}

main .sections .time-period .information-list {
  font-family: 'Oswald';
  margin: 1rem auto 0;
  padding: 0;
  font-size: 1rem;
  width: 66.667vw;
  font-weight: 200;
}

main .sections .time-period .information-list li {
  margin-top: 2rem;
}

main .sections .time-period .information-list .information-right {
  text-align: right;
}

main .sections .time-period .goto-period {
  display: block;
  width: 9.75rem;
  max-height: 3rem;
  padding: .55rem 0;
  margin: 4rem auto 0;
  border: 3px solid #FFFFFF;
  background-color: rgba(51, 51, 51, 0.33);
  border-radius: 3rem;
  color: var(--font-color-light);
  font-size: 1.2rem;
  font-family: 'Oswald';
  text-align: center;
}

main .sections .time-period .goto-period img {
  height: 1rem;
  margin-left: .7rem;
  vertical-align: middle;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

main .sections .time-period .goto-period:hover img {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

main .sections .time-period::before {
  content: '';
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: -1;
  background-size: cover;
  -webkit-filter: blur(6px) brightness(45%);
          filter: blur(6px) brightness(45%);
}

main .sections .time-period .swiper-arrows::before, main .sections .time-period .swiper-arrows::after {
  content: '';
  display: block;
  position: absolute;
  width: 1.67rem;
  height: 1rem;
  background-image: url(../img/arrow.svg);
  background-size: cover;
  bottom: .667rem;
}

main .sections .time-period .swiper-arrows::before {
  left: .33rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .sections .time-period .swiper-arrows::after {
  right: .33rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main .sections .ancient-period::before {
  background-image: url(../img/index/ancient.jpg);
  background-position: -19.6rem 0;
}

main .sections .ancient-period span.swiper-arrows::before {
  visibility: hidden;
}

main .sections .antiquity-period::before {
  background-image: url(../img/index/antiquity.jpg);
  background-position: -20.2rem 0;
}

main .sections .middle-ages-period::before {
  background-image: url(../img/index/middle-ages.jpg);
  background-position: -15.63rem 0;
}

main .sections .new-time-period::before {
  background-image: url(../img/index/new-time.jpg);
  background-position: -27.2rem 0;
}

main .sections .modern-period::before {
  background-position: -13.7rem 0;
  background-image: url(../img/index/modern.webp);
}

main .sections .modern-period .swiper-arrows::after {
  display: none;
}

main .time-straight {
  --time-color: var(--first-color-ancient);
  --next-time-color: var(--first-color-antiquity);
  margin: 2rem auto;
  width: 86.5vw;
  position: relative;
}

main .time-straight .time-straight__periods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -1.33rem;
  top: -1.33rem;
  font-family: 'Russo One';
  font-size: .67rem;
  color: var(--time-color);
  padding-left: 1.33rem;
}

main .time-straight .time-straight__periods li {
  text-align: center;
}

main .time-straight .time-straight__periods .ancient {
  width: 27.78vw;
}

main .time-straight .time-straight__periods .antiquity {
  width: 18vw;
}

main .time-straight .time-straight__periods .middle-ages {
  width: 15.3vw;
}

main .time-straight .time-straight__periods .new-time {
  width: 12.5vw;
}

main .time-straight .time-straight__periods .modern {
  width: 6.95vw;
}

main .time-straight .time-arrow {
  display: inline-block;
  position: relative;
  width: 85vw;
  height: 5px;
  background-color: var(--time-color);
}

main .time-straight .time-arrow::after {
  content: '';
  display: block;
  position: absolute;
  right: -0.667rem;
  top: calc(-.333rem - 5px);
  border-top: .667rem solid transparent;
  border-left: 1rem solid var(--time-color);
  border-bottom: .667rem solid transparent;
}

main .time-straight .christ-birth {
  display: inline-block;
  margin-top: 0.2rem;
  position: relative;
  left: 50%;
  font-family: 'Russo One';
  font-size: 1rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .time-straight .christ-birth::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.1rem;
  left: 37.5%;
  height: 1.2rem;
  width: .25rem;
  background-color: var(--time-color);
}

main .time-straight .period-focus {
  display: block;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(var(--time-color)), to(var(--next-time-color)));
  background: linear-gradient(90deg, var(--time-color) 0%, var(--next-time-color) 100%);
  width: 27.78vw;
  bottom: 1.43rem;
  height: .667rem;
  border-radius: .667rem;
}

.btn {
  background: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.take-test-btn {
  display: block;
  position: relative;
  margin: 3rem auto 0;
  width: 8rem;
  height: 2.4rem;
  border: 2px solid var(--first-color-ancient);
  background: none;
  border-radius: 2rem;
  font-family: 'Oswald';
  font-size: 1rem;
  color: var(--first-color-ancient);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.take-test-btn::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -10;
  background-color: var(--first-color-ancient);
  width: 0;
  height: 0;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.take-test-btn:hover {
  color: var(--font-color-light);
}

.take-test-btn:hover::before {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  font-size: 1rem;
}

.take-test-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.arrow-down-btn {
  display: block;
  position: absolute;
  border: none;
  padding: .25rem;
  left: 50%;
  bottom: .667rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.arrow-down-btn img {
  height: 1.833rem;
}

.arrow-down-btn:hover {
  -webkit-transform: translateX(-50%) translateY(0.5rem);
          transform: translateX(-50%) translateY(0.5rem);
}

@media (max-width: 690px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 18px !important;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 850px) {
  html {
    font-size: 36px;
  }
}

@media (min-width: 993px) {
  html {
    font-size: 17px;
  }
  header h1 {
    margin-left: 5rem;
  }
  header .quote {
    margin-top: -1.5rem;
    margin-left: 11.4rem;
  }
  main div.sections {
    -webkit-transition: left .85s ease-in-out;
    transition: left .85s ease-in-out;
  }
  main div.sections section.time-period .head-text {
    font-family: 'Russo one';
    font-size: 3rem;
    text-align: center;
    max-width: 95%;
    margin-top: 3rem;
  }
  main div.sections section.time-period .information-list {
    font-size: 1.5rem;
  }
  main div.sections section.time-period .information-list li {
    margin-top: .75rem;
  }
  main div.sections section.time-period .goto-period {
    margin: 1.5rem auto 0;
  }
  main div.sections section.time-period::before {
    background-position: 0 -1.5rem;
  }
  main div.sections div.time-straight {
    margin-top: 1rem;
  }
}

@media (min-width: 1160px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 23px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 28px;
  }
}
/*# sourceMappingURL=main.css.map */