@import url(https://fonts.googleapis.com/css?family=Russo+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap);
html {
  font-size: 30px;
  --font-color-light: #f0f0f0;
  --invisible-color: #cdcdcd;
  --first-color-ancient: #5A3D30;
  --font-color-ancient: #45322E;
  --first-color-antiquity: #dcdcdc;
  --font-color-antiquity: #909090;
  --first-color-middle-ages: #99958C;
  --font-color-middle-ages: #606060;
  --first-color-new-time: #4D7198;
  --font-color-new-time: #395778;
  --first-color-modern: #7442C8;
  --font-color-modern: #423189;
}

body, html {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #232526 0%, #414345 100%);
  z-index: 999;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.loader .loading-object {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 10rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 690px) {
  html {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 850px) {
  html {
    font-size: 36px;
  }
}

@media (min-width: 993px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1160px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 21px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 23px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 1919px) {
  html {
    font-size: 28px;
  }
}

.hamburger {
  display: block;
  position: fixed;
  background-image: radial-gradient(circle, #fff 0%, #fbfbfb 100%);
  border: 0.1rem solid var(--invisible-color);
  border-radius: 100%;
  padding: 1.25rem 1.25rem;
  top: .5rem;
  right: .5rem;
  z-index: 999;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.hamburger .hamburger__line_first,
.hamburger .hamburger__line_second,
.hamburger .hamburger__line_third {
  display: block;
  position: absolute;
  width: 1.5rem;
  top: 1.2rem;
  right: .5rem;
  height: .1rem;
  background: #000;
  -webkit-transition: top .3s .3s, -webkit-transform .3s 0s;
  transition: top .3s .3s, -webkit-transform .3s 0s;
  transition: top .3s .3s, transform .3s 0s;
  transition: top .3s .3s, transform .3s 0s, -webkit-transform .3s 0s;
}

.hamburger .hamburger__line_first {
  top: .6rem;
}

.hamburger .hamburger__line_third {
  top: 1.8rem;
}

.hamburger:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0.1rem 0.01rem var(--invisible-color);
          box-shadow: 0 0 0.1rem 0.01rem var(--invisible-color);
}

.hamburger.menu-clicked .hamburger__line_first,
.hamburger.menu-clicked .hamburger__line_second,
.hamburger.menu-clicked .hamburger__line_third {
  top: 1.25rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: top .3s 0s, -webkit-transform .3s .3s;
  transition: top .3s 0s, -webkit-transform .3s .3s;
  transition: top .3s 0s, transform .3s .3s;
  transition: top .3s 0s, transform .3s .3s, -webkit-transform .3s .3s;
}

.hamburger.menu-clicked .hamburger__line_third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.wheel-button-svg {
  fill: var(--time-color-second);
}

.wheel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 17.5rem;
  margin: -2.5rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
}

.wheel-buttons .wheel-btn {
  height: 3rem;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: .75;
}

.wheel-buttons .wheel-btn:hover {
  opacity: 1;
}

.wheel-buttons .btn-right {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.wheel-buttons .btn-right:active {
  -webkit-transform: scaleX(-1) translateX(-1rem);
          transform: scaleX(-1) translateX(-1rem);
}

.wheel-buttons .btn-left:active {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  height: 0;
  width: 0;
  background-color: var(--time-color-second);
  -webkit-box-shadow: 0 0 .5rem;
          box-shadow: 0 0 .5rem;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

header .header__title {
  font-family: 'Russo One';
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  color: #fff;
  white-space: nowrap;
}

header .navigation {
  position: relative;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 14.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .navigation .nav__link {
  display: block;
  font-family: 'Oswald';
  font-size: 1rem;
  text-align: right;
  position: relative;
  right: 0;
  color: var(--font-color-light);
  text-decoration: underline;
  white-space: nowrap;
}

header .navigation .return-link {
  font-size: 1.5rem;
}

.header-visible {
  height: 22rem;
  width: 22rem;
  border-radius: 0 0 0 20rem;
}

.section-title, .periodization-title {
  font-family: 'Russo One';
  font-size: 2.4rem;
  margin-top: 4.67rem;
  margin-left: 1rem;
}

.periodization-title {
  margin-top: 2rem;
}

.subperiods-names {
  font-family: 'Russo One';
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 2rem;
}

.subperiods-names li {
  cursor: pointer;
}

.subperiods-names li:hover:not(.subperiods-names__active) .link::before {
  width: 1em;
  height: 1em;
  border-width: .08em;
}

.subperiods-names li .link {
  padding: .5rem 0;
  position: relative;
}

.subperiods-names li .link::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -7.5%;
  width: 0;
  height: 0;
  border: 0 solid var(--time-color-second);
  border-top: none;
  border-left: none;
  background: none;
  border-radius: 0 0 .625em 0;
  -webkit-box-shadow: 0.1em 0.167em 0.167em rgba(0, 0, 0, 0.25);
          box-shadow: 0.1em 0.167em 0.167em rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.subperiods-names li.subperiods-names__active .link::before {
  width: 115%;
  height: 80%;
  border-width: .08em;
}

.list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.subperiods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(100vw - 10.33rem);
  padding: 0;
  width: 10.33rem;
  height: 30rem;
  overflow: hidden;
}

.subperiods li {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 10.33rem;
  height: 30rem;
  border: 0.033rem solid var(--time-color-first);
  border-radius: 7rem 0 0 7rem;
  font-family: 'Oswald';
  color: var(--font-color-light);
  font-weight: 300;
  -webkit-transition: .75s ease;
  transition: .75s ease;
  left: 0;
}

.subperiods li:not([data-position="0"]) {
  left: 10.33rem;
}

.subperiods li .subperiod-name {
  font-family: 'Russo One';
  text-align: center;
  color: #fff;
  margin-top: 4rem;
  margin-left: .5rem;
  margin-bottom: 0;
  font-weight: 300;
}

.subperiods li .subperiod-time {
  font-size: .667rem;
  text-align: center;
  margin-top: .333rem;
  margin-left: .5rem;
}

.subperiods li .explanation {
  font-size: .5rem;
  font-weight: 100;
}

.subperiods li .explanation::before {
  content: '(';
}

.subperiods li .explanation::after {
  content: ')';
}

.subperiods li .subperiod-important {
  margin-top: 2rem;
  font-size: .8333rem;
  text-align: center;
}

.subperiods li .subperiod-important .happened {
  font-size: 1rem;
}

.subperiods li .subperiod-social {
  font-size: .65rem;
  text-align: center;
  margin-top: 2.4rem;
}

.subperiods li .subperiod-new {
  margin-top: 3rem;
  margin-left: 1.1667rem;
  font-size: .667rem;
}

.subperiods li .subperiod-new sub {
  font-size: .333rem;
}

.subperiods li .subperiod-unimportant {
  display: block;
  position: absolute;
  bottom: 1.5rem;
  right: 1.1667rem;
  font-size: .65rem;
}

.subperiods li::before {
  content: '';
  display: block;
  position: absolute;
  left: -.5rem;
  top: -.5rem;
  width: 11.33rem;
  height: 31rem;
  z-index: -10;
  background-size: cover;
  -webkit-filter: blur(0.33rem) brightness(50%);
          filter: blur(0.33rem) brightness(50%);
  border-radius: 7rem 0 0 7rem;
}

.subsection-title {
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 2rem;
  color: var(--time-color-second);
  font-family: 'Russo One';
  font-size: 2rem;
}

.information-wrapper {
  font-family: 'Oswald';
}

.wrapper-wo-title {
  margin-top: 1rem;
}

.information, .information-with-picture, .interesting-fact {
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-family: 'Oswald';
}

.info-right {
  margin-left: 6rem;
}

.wide-information {
  margin-left: 2rem;
}

.explanation-picture {
  display: block;
  margin: 0 auto;
  border-radius: 1.5rem;
  margin-top: 2rem;
}

.scaled-picture {
  overflow: hidden;
}

.information-with-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.information-with-picture[data-picture="left"] .text {
  margin-left: 1.5rem;
}

.information-with-picture[data-picture="right"] img {
  margin-left: 1.5rem;
}

.information-with-picture[data-strings="3"] img {
  height: 4.401em;
}

.information-with-picture[data-strings="4"] img {
  height: 5.868em;
}

.information-with-picture[data-strings="5"] img {
  height: 7.335em;
}

.information-with-picture[data-strings="6"] img {
  height: 8.802em;
}

.information-with-picture[data-strings="7"] img {
  height: 10.269em;
}

.interesting-fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interesting-fact .fact {
  font-weight: 300;
  font-size: .67rem;
  margin-left: 3rem;
}

.img-with-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-with-text img {
  border-radius: 2rem;
}

.img-with-text .text {
  margin-top: .33rem;
  font-size: .5rem;
  font-weight: 300;
  text-align: center;
}

.over-wheel-sections {
  font-family: 'Oswald';
  position: relative;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.over-wheel-sections > div {
  position: absolute;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  top: 0;
}

.over-wheel-sections > div .subsection-title {
  margin-top: 1rem;
}

.canvas-wheel {
  display: block;
  margin: 0 auto;
  -webkit-transition: 0.5s cubic-bezier(0.5, -0.2, 0, 1);
  transition: 0.5s cubic-bezier(0.5, -0.2, 0, 1);
}

.for-canvas-wheel {
  display: none;
}

.desktop, .desktop-flex {
  display: none;
}

.religions {
  overflow: hidden;
}

html {
  --time-color-first: var(--first-color-modern);
  --time-color-second: var(--font-color-modern);
}

.subperiods-names {
  font-size: 1.2rem;
}

.subperiods li[data-position='0'] {
  z-index: 0;
}

.subperiods li[data-position='1'] {
  z-index: 1;
}

.subperiods li[data-position='2'] {
  z-index: 2;
}

.subperiods li[data-position='3'] {
  z-index: 3;
}

.interbellum::before {
  background-image: url(../img/modern/interbellum.jpg);
  background-position: -15.37rem 0;
}

.ww2::before {
  background-image: url(../img/modern/wwii.webp);
  background-position: -25.53rem 0;
}

.cold-war::before {
  background-image: url(../img/modern/cold-war.jpg);
  background-position: -18.3rem 0;
}

.globalization::before {
  background-image: url(../img/modern/globalization.jpg);
  background-position: -8.43rem 0;
}

.british-empire-img {
  width: 20rem;
}

@media (min-width: 993px) {
  .desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desktop {
    display: block;
  }
  .section-title, .periodization-title {
    margin-top: 4rem;
    margin-left: 4rem;
  }
  .periodization-title {
    margin-top: 2rem;
  }
  .periodization .subsection-title {
    margin-left: 9rem;
  }
  .periodization ol.subperiods-names {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    height: 20rem;
    grid-column-gap: 6rem;
    grid-row-gap: 1rem;
    margin-left: 6rem;
  }
  .periodization ol.subperiods-names .name-wide {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .subperiods {
    width: 21rem;
    height: 20rem;
    left: calc(100vw - 21rem);
    margin-top: -2.5rem;
  }
  .subperiods li {
    width: 21rem;
    height: 20rem;
  }
  .subperiods li:not([data-position="0"]) {
    left: 21rem;
  }
  .subperiods li .subperiod-name {
    margin-top: 2rem;
    margin-left: 2.5rem;
  }
  .subperiods li .subperiod-time {
    margin-left: 2.5rem;
  }
  .subperiods li .subperiod-social {
    width: 7rem;
  }
  .subperiods li .subperiod-new {
    margin-left: 3rem;
    margin-right: -3rem;
  }
  .subperiods li::before {
    width: 22rem;
    height: 21rem;
    background-position: 0 0;
  }
  .subperiods-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .subsection-title {
    margin-left: 9rem;
    margin-top: 2rem;
  }
  .information-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information, .information-with-picture, .interesting-fact {
    margin-left: 6rem;
  }
  .wheel {
    position: relative;
    left: 15rem;
  }
  .canvas-wheel {
    width: 25rem;
  }
}

@media (min-width: 993px) {
  .subperiods li[data-position='0'] {
    z-index: 0;
  }
  .subperiods li[data-position='1'] {
    z-index: 1;
  }
  .subperiods li[data-position='2'] {
    z-index: 2;
  }
  .subperiods li[data-position='3'] {
    z-index: 3;
  }
  .landing-in-america img {
    width: 20rem;
  }
  .kunesdorf img {
    width: 16rem;
  }
  .first-photo img {
    height: 10rem;
  }
  .appolo11 img {
    width: 20rem;
  }
}
/*# sourceMappingURL=modern.css.map */