@media (min-width: 993px) {
    .subperiods {
        margin-top: 3.5rem;
    }
    .greece .subperiods {
        @for $i from 0 through 4 {
            li[data-position='#{$i}'] {
                z-index: $i;
                left: 21rem * $i;
            }
        }
    }
    .rome .subperiods {
        @for $i from 0 through 2 {
            li[data-position='#{$i}'] {
                z-index: $i;
                left: 21rem * $i;
            }
        }
    }
    .roman-birth-img img {
        width: 20rem;
    }
    .tsitseron img {
        height: 12rem;
    }
}