.hamburger {
    display: block;
    position: fixed;
    background-image: radial-gradient(circle, #fff 0%, #fbfbfb 100%);
    border: .1rem solid var(--invisible-color);
    border-radius: 100%;
    padding: 1.1rem 1.1rem;
    top: .25rem;
    right: .25rem;
    z-index: 999;
    box-shadow: none;
    cursor: pointer;

    .hamburger__line_first,
    .hamburger__line_second,
    .hamburger__line_third {
        display: block;
        position: absolute;
        width: 1.25rem;
        top: 1.05rem;
        right: .5rem;
        height: .1rem;
        background: #000;
        // Время анимации по 2-му клику
        // transition: property duration delay;
        transition: top .3s .3s, transform .3s 0s;
    }

    .hamburger__line_first {
        top: .65rem;
    }

    .hamburger__line_third {
        top: 1.45rem;
    }
}

.hamburger:focus {
    outline: none;
    box-shadow: 0 0 .1rem .01rem var(--invisible-color);
}

.hamburger.menu-clicked .hamburger__line_first,
.hamburger.menu-clicked .hamburger__line_second,
.hamburger.menu-clicked .hamburger__line_third {
    top: 1.05rem;
    transform: rotate(45deg);
    transition-delay: 0s;
    transition: top .3s 0s, transform .3s .3s; // время выполнения по 1-му клику
}

.hamburger.menu-clicked .hamburger__line_third {
    transform: rotate(-45deg);
}



.wheel-button-svg {
    fill: var(--time-color-second);
}
.wheel-buttons {
    display: flex;
    position: relative;
    width: 17.5rem;
    margin: -2.5rem auto;
    justify-content: space-between;
    z-index: 9;
    .wheel-btn {
        height: 3rem;
        cursor: pointer;
        transition: .25s ease-in-out;
        opacity: .75;
        &:hover {
            opacity: 1;
        }
    }
    .btn-right {
        transform: scaleX(-1);
        &:active {
            transform: scaleX(-1) translateX(-1rem);
        }
    }
    .btn-left:active {
        transform: translateX(-1rem);
    }
}