html {
    --time-color-first: var(--first-color-middle-ages);
    --time-color-second: var(--font-color-middle-ages);
}
.subperiods-names {
    font-size: 1.5rem;
}
.subperiods {
    @for $i from 0 through 2 {
        li[data-position='#{$i}'] {
            z-index: $i;
        }
    }
}
.early::before {
    background-image: url(../img/middle-ages/early.jpg);
    background-position: -17.167rem 0;
}
.developed::before {
    background-image: url(../img/middle-ages/developed.jpg);
    background-position: -7.63rem 0;
}
.late::before {
    background-image: url(../img/middle-ages/late.webp);
    background-position: -19.2rem 0;
}