.section-title, .periodization-title {
    font-family: 'Russo One';
    font-size: 2.4rem;
    margin-top: 4.67rem;
    margin-left: 1rem;
}
.periodization-title {
    margin-top: 2rem;
}
.subperiods-names {
    font-family: 'Russo One';
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    li {
        cursor: pointer;
        padding: 1rem 0;
    }
}
.list-wrapper {
    display: flex;
    align-content: center;
}
.subperiods {
    display: flex;
    position: absolute;
    left: calc(100vw - 10.33rem);
    padding: 0;
    width: 10.33rem;
    height: 30rem;
    overflow: hidden;

    li {
        display: block;
        position: absolute;
        overflow: hidden;
        width: 10.33rem;
        height: 30rem;
        border: .033rem solid var(--time-color-first);
        border-radius: 7rem 0 0 7rem;
        font-family: 'Oswald';
        color: var(--font-color-light);
        font-weight: 300;
        .subperiod-name {
            font-family: 'Russo One';
            text-align: center;
            color: #fff;
            margin-top: 4rem;
            margin-left: .5rem;
            margin-bottom: 0;
            font-weight: 300;
        }
        .subperiod-time {
            font-size: .667rem;
            text-align: center;
            margin-top: .333rem;
            margin-left: .5rem;
        }

        .explanation {
            font-size: .5rem;
            font-weight: 100;
            &::before {
                content: '(';
            }
            &::after{
                content: ')';
            }
        }

        .subperiod-important {
            margin-top: 2rem;
            font-size: .8333rem;
            text-align: center;
            .happened {
                font-size: 1rem;
            }
        }

        .subperiod-social {
            font-size: .65rem;
            text-align: center;
            margin-top: 2.4rem;
        }

        .subperiod-new {
            margin-top: 3rem;
            margin-left: 1.1667rem;
            font-size: .667rem;
            sub {
                font-size: .333rem;
            }
        }

        .subperiod-unimportant {
            display: block;
            position: absolute;
            bottom: 1.5rem;
            right: 1.1667rem;
            font-size: .65rem;
        }
        // background-image styles
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -.5rem;
            top: -.5rem;
            width: 11.33rem;
            height: 31rem;
            z-index: -1;
            background-size: cover;
            filter: blur(.33rem) brightness(50%);
            border-radius: 7rem 0 0 7rem;
        }
    }
}

.subsection-title {
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 2rem;
    color: var(--time-color-second);
    font-family: 'Russo One';
    font-size: 2rem;
}

.information-wrapper {
    font-family: 'Oswald';
}
.wrapper-wo-title {
    margin-top: 1rem;
}
.information, .information-with-picture, .interesting-fact {
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'Oswald';
}
.info-right {
    margin-left: 6rem;
}
.wide-information {
    margin-left: 2rem;
}
.explanation-picture {
    display: block;
    margin: 0 auto;
    border-radius: 1.5rem;
    margin-top: 2rem;
}
.scaled-picture {
    overflow: hidden;
}

.information-with-picture {
    display: flex;
    &[data-picture="left"] {
        .text {
            margin-left: 1.5rem;
        }
    }
    &[data-picture="right"] {
        img {
            margin-left: 1.5rem;
        }
    }

    &[data-strings="3"] {
        img {
            height: 1.467em * 3;
        }
    }
    &[data-strings="4"] {
        img {
            height: 1.467em * 4;
        }
    }
    &[data-strings="5"] {
        img {
            height: 1.467em * 5;
        }
    }
    &[data-strings="6"] {
        img {
            height: 1.467em * 6;
        }
    }
    &[data-strings="7"] {
        img {
            height: 1.467em * 7;
        }
    }
}


.interesting-fact {
    display: flex;
    align-items: center;
    .fact {
        font-weight: 300;
        font-size: .67rem;
        margin-left: 3rem;
    }
}

.img-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 2rem;
    }
    .text {
        margin-top: .33rem;
        font-size: .5rem;
        font-weight: 300;
        text-align: center;
    }
}

.over-wheel-sections {
    font-family: 'Oswald';
    position: relative;
    margin-bottom: 2rem;
    section {
        position: absolute;
        .subsection-title {
            margin-top: 1rem;
        }
        top: 0;
    }
}
.canvas-wheel {
    display: block;
    margin: 0 auto;
}
.for-canvas-wheel {
    display: none;
}
.desktop, .desktop-flex {
    display: none;
}
.religions {
    overflow: hidden;
}