@media (min-width: 993px) {
    .subperiods {
        @for $i from 0 through 3 {
            li[data-position='#{$i}'] {
                z-index: $i;
            }
        }
    }
    .landing-in-america img {
        width: 20rem;
    }
    .kunesdorf img {
        width: 16rem;
    }
    .first-photo img {
        height: 10rem;
    }
    .appolo11 img {
        width: 20rem;
    }
}