html {
    --time-color-first: var(--first-color-new-time);
    --time-color-second: var(--font-color-new-time);
}
.periodization .subperiods-names {
    font-size: 1.2rem;
    margin-left: 1.5rem;
}
.subperiods {
    @for $i from 0 through 2 {
        li[data-position='#{$i}'] {
            z-index: $i;
        }
    }
}
.early::before {
    background-image: url(../img/new-time/early.jpg);
    background-position: 13.47rem 0;
}
.elightnment::before {
    background-image: url(../img/new-time/elightenment.jpg);
    background-position: -29.77rem 0;
}
.long-xix-century::before {
    background-image: url(../img/new-time/xix-century.jpg);
    background-position: -20rem 0;
}
.british-empire-img {
    width: 20rem;
}