html {
    --time-color-first: var(--first-color-antiquity);
    --time-color-second: var(--font-color-antiquity);
}
.periodization {
    .subperiod-name {
        font-size: 1rem;
    }
    .subperiods {
        margin-top: 6.5rem;
    }
    .greece {
        font-size: 1rem;
        .subperiods {
            @for $i from 0 through 4 {
                li[data-position='#{$i}'] {
                    z-index: $i;
                    left: 10.33rem * $i;
                }
            }
        }
    }
    .rome {
        font-size: 1.5rem;
        .subperiods {
            @for $i from 0 through 2 {
                li[data-position='#{$i}'] {
                    z-index: $i;
                    left: 10.33rem * $i;
                }
            }
        }
    }

    .krito-micken::before {
        background-image: url(../../img/antiquity/krito-micken.jpg);
        background-position: -18.77rem 0;
    }
    .dark-ages::before {
        background-image: url(../../img/antiquity/dark-ages.webp);
        background-position: -4rem 0;
    }
    .archaic-greece::before {
        background-image: url(../../img/antiquity/archaic-greece.jpg);
        background-position: -12.7rem 0;
    }
    .classic-greece::before {
        background-image: url(../../img/antiquity/classic-greece.jpg);
        background-position: -29.97rem 0;
    }
    .ellinism::before {
        background-image: url(../../img/antiquity/ellinism.jpg);
        background-position: -16.4rem 0;
    }

    .tsars-time::before {
        background-image: url(../../img/antiquity/tsars-time.jpg);
        background-position: -21.9rem 0;
    }
    .republic::before {
        background-image: url(../../img/antiquity/roman-republic.jpg);
        background-position: -20.1rem 0;
    }
    .empire:before {
        background-image: url(../../img/antiquity/roman-empire.jpg);
        background-position: -21rem 0;
    }
}

.roman-video img {
    height: 15rem;
}