.btn {
    background: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.close-test-btn:not(.close-score) {
    background: none;
    border: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: -.5rem;
    margin-top: 0;
    padding: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    .lines {
        position: relative;
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 1.5rem;
            width: .1rem;
            background-color: var(--font-color-light);
            transition: .2s ease;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
    &:hover .lines {

        &::before {
            transform: rotate(35deg);
        }
        &::after {
            transform: rotate(-35deg);
        }
    }
    &:active .lines {
        &::before {
            transform: rotate(55deg);
        }
        &::after {
            transform: rotate(-55deg);
        }
    }
}
.back-to-choose-btn {
    z-index: 100;
    display: block;
    position: absolute;
    top: 3rem;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    opacity: 0.5;
    transition: .2s ease-in-out;
    svg {
        transition: .2s ease-in-out;

    }
    &:hover {
        opacity: 1;
    }
    &:active {
        transform: scale(.95);
    }
}
.difficult {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: center;
    font-family: 'Oswald';
    .btn {
        display: block;
        text-align: center;
        position: relative;
        height: 2.5rem;
        margin-top: 2rem;
        width: 7rem;
        font-size: .75rem;
        border-radius: 2rem;
        border: .1rem solid var(--difficult-color);
        color: var(--difficult-color);
        background: none;
        transition: .1s ease-in-out;
        &::before { 
            content: '';
            display: block;
            position: absolute;
            z-index: -10;
            background-color: var(--difficult-color);
            width: 0;
            height: 0;
            border-radius: 2rem;
            top: 50%;
            left: 50%;
            transition: .2s ease-in-out;
        }
        &:hover{
            color: var(--font-color-light);
    
            &::before {
                height: 110%;
                width: 110%;
                top: -5%;
                left: -5%;
                font-size: 1rem;
            }
        }
        &:active {
            transform: scale(0.95);
        }
        &[ data-difficult="0"] {
            --difficult-color: #138808;
        }
        &[ data-difficult="1"] {
            --difficult-color: #CFB53B;
        }
        &[ data-difficult="2"] {
            --difficult-color: #ED760E;
        }
        &[ data-difficult="3"] {
            --difficult-color: #BF1408;
        }
    }
}

@keyframes errored-test{
    from {
        margin-left: 0;
    }
    50% {
        margin-left: .5rem;
    }
    to {
        margin-left: -.5rem;
    }
}
.make-answer-btn, .continue-test-btn, .close-score {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 2rem;
    text-align: center;
    background: none;
    font-size: 1rem;
    border: 1px solid var(--font-color-light);
    border-radius: 3rem;
    font-family: 'Oswald';
    color: #fff;
    font-weight: 300;
    transition: .1s ease-in-out;
    &::before { 
        content: '';
        display: block;
        position: absolute;
        z-index: -10;
        background-color: var(--font-color-light);
        width: 0;
        height: 0;
        border-radius: 2rem;
        top: 50%;
        left: 50%;
        transition: .2s ease-in-out;
    }
    &:hover{
        color: var(--font-color-ancient);

        &::before {
            height: 110%;
            width: 110%;
            top: -5%;
            left: -5%;
            font-size: 1rem;
        }
    }
    &:active {
        transform: translateX(-50%) scale(0.95);
    }
}
.errored{
    animation: errored-test .1s ease .1s infinite alternate;
}

.take-test-btn {
    display: block;
    position: relative;
    margin: 3rem auto 0;
    width: 8rem;
    height: 2.4rem;
    border: 2px solid var(--first-color-ancient);
    background: none;
    border-radius: 2rem;
    font-family: 'Oswald';
    font-size: 1rem ;
    color: var(--first-color-ancient);
    transition: .2s ease-in-out;
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -10;
        background-color: var(--first-color-ancient);
        width: 0;
        height: 0;
        border-radius: 2rem;
        top: 50%;
        left: 50%;
        transition: .2s ease-in-out;
    }
    &:hover{
        color: var(--font-color-light);

        &::before {
            height: 110%;
            width: 110%;
            top: -5%;
            left: -5%;
            font-size: 1rem;
        }
    }
    
    &:active {
        transform: scale(0.95);
    }
    
}


.arrow-down-btn {
    display: block;
    position: absolute;
    border: none;
    padding: .25rem;
    left: 50%;
    bottom: 1.667rem;
    transform: translateX(-50%);
    transition: .2s ease-in-out;
    height: 1.833rem;
    width: 3rem;
    &:hover {
        transform: translateX(-50%) translateY(.5rem);
    }
}


.goto-period {
    display: block;
    width: 9.75rem;
    max-height: 3rem;
    padding: .55rem 0;
    margin: 4rem auto 0;
    border: 3px solid #FFFFFF;
    background-color: rgba(51, 51, 51, .33);
    border-radius: 3rem;
    color: var(--font-color-light);
    font-size: 1.2rem;
    font-family: 'Oswald';
    text-align: center;
    .svg-img {
        height: 1rem;
        margin-left: .7rem;
        vertical-align: middle;
        svg {
            transition: .2s ease-in-out;
        }
    }

    &:hover svg {
        transform: translateY(.5rem);
    }
}