@media (min-width: 993px) {
    header {
        .wrapper {
            display: flex;
        }
        h1 {
            margin-left: 5rem;
        }
        .quote {
            margin-top: 4rem;
            margin-left: 11.4rem;
            font-size: 1.5rem;
            &::before {
                left: -6rem;
                top: -4.9rem;
            }
        }
        .take-test-btn {
            margin-top: 1rem;
        }
        .images {
            font-size: 1.5rem;
            bottom: 1.5rem;
            .images__ancient {
                margin-right: 3em;
            }
            .images__modern {
                margin-left: 3em;
            }
            .moment {
                bottom: 30%;
            }
        }
    }

    main div.sections {
        transition: left .85s ease-in-out;
        section.time-period {
            height: 85vh;
            .head-text {
                font-family: 'Russo one';
                font-size: 3rem;
                text-align: center;
                max-width: 95%;
                margin-top: 3rem;
            }
            .information-list {
                font-size: 1.5rem;
                li {
                    margin-top: .75rem;
                }
            }

            .goto-period {
                margin: 1.5rem auto 0;
            }

            &::before {
                background-position: 0 -2rem;
            }
        }
    }
    main div.time-straight {
        margin-top: 1.5rem;
        .time-arrow::after {
            top: -.6rem;
        }
        ul.time-straight__periods{
            li.modern, li.new-time, li.middle-ages {
                margin-left: 0;
            }
            li.modern {
                margin-left: -.8vw;
            }
        } 
    }
}