// В медиа-запросах используются 
// более подробные названия 
// для перекрытия основных стилей

// Mobile
@media (max-width: 690px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 18px !important;
    }
}



@media (max-width: 400px) {
    html {
        font-size: 15px;
    }
}


@media (min-width: 850px) {
    html {
        font-size: 36px;
    }
}


// Desktop
@media (min-width: 993px) { // 1024 х 600
    html {
        font-size: 17px;
    }

    header {
        h1 {
            margin-left: 5rem;
        }
        .quote {
            margin-top: -1.5rem;
            margin-left: 11.4rem;
        }
    }

    main div.sections {
        transition: left .85s ease-in-out;
        section.time-period {
            height: 85vh;
            .head-text {
                font-family: 'Russo one';
                font-size: 3rem;
                text-align: center;
                max-width: 95%;
                margin-top: 3rem;
            }
            .information-list {
                font-size: 1.5rem;
                li {
                    margin-top: .75rem;
                }
            }

            .goto-period {
                margin: 1.5rem auto 0;
            }

            &::before {
                background-position: 0 -2rem;
            }
        }
    }
    main div.time-straight {
        margin-top: 1.5rem;
        ul.time-straight__periods{
            li.modern, li.new-time, li.middle-ages {
                margin-left: 0;
            }
            li.modern {
                margin-left: -.65vw;
            }
        } 
    }
}


@media (min-width: 1160px) { 
    html {
        font-size: 18px;
    }
    
} 
@media (min-width: 1280px) { // 1280 х 960
    html {
        font-size: 21px;
    }
}
@media (min-width: 1366px) { // 1366 х 768
    html {
        font-size: 23px;
    }
}
@media (min-width: 1440px) { // 1440 х 900
    html {
        font-size: 25px;
    }
}

@media (min-width: 1919px) { // 1920 х 1080
    html {
        font-size: 28px;
    }
}