header {
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    .canvas-header {
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        z-index: -999;
        height: 100vh;
        width: 100vw;
    }
    h1 {
        margin-left: 2.5rem;
        margin-top: 0;
        padding-top: 3rem;
        font-family: 'Russo One';
        font-size: 5rem;
        text-transform: capitalize;
    }
    .quote {
        display: block; 
        position: relative;
        margin-left: 6rem;
        margin-top: 2rem;
        font-family: 'Oswald';
        width: 7rem;
        font-weight: 200;
        b {
            display: block;
            position: absolute;
            right: 0;
        }
        &::before {
            content: '“';
            display: block;
            position: absolute;
            font-size: 10rem;
            font-weight: normal;
            left: -4rem;
            top: -3.25rem;
            color: var(--font-color-light);
        }
    }
}


main {
    height: 100vh;
    overflow: hidden;
    .sections {
        display: grid;
        position: relative;
        grid-template-columns: repeat(5, 100vw);
        cursor: grab;
        transition: left .5s ease-in-out;
        &:active {
            cursor: grabbing;
        }
        .time-period {
            padding: 0;
            color: var(--font-color-light);
            position: relative;
            width: 100vw;
            height: 88.5vh;
            .head-text {
                font-family: 'Russo one';
                font-size: 3rem;
                margin-left: 2rem;
                max-width: 20rem;
                margin-top: 4rem;
            }

            .information-list {
                font-family: 'Oswald';
                margin: 1rem auto 0;
                padding: 0;
                font-size: 1rem;
                width: 66.667vw;
                font-weight: 200;
                li {
                    margin-top: 2rem;
                }
                .information-right {
                    text-align: right;
                }
            }


            &::before {
                content: '';
                display: block;
                position: absolute;
                width: inherit;
                height: inherit;
                z-index: -1;
                background-size: cover;
                filter: blur(8px) brightness(45%);
            }
            .swiper-arrows {
                &::before, &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1.67rem;
                    height: 1rem;
                    background-image: url(../img/arrow.svg);
                    background-size: cover;
                    bottom: .667rem;
                }
                &::before {
                    left: .33rem;
                    transform: rotate(90deg);
                }
                &::after {
                    right: .33rem;
                    transform: rotate(-90deg);
                }
            }
        }
        


    
        .ancient-period{
            &::before {
                background-image: url(../img/index/ancient.jpg);
                background-position: -19.6rem 0;
            }
            span.swiper-arrows::before {
                visibility: hidden;
            }
        }
        .antiquity-period::before {
            background-image: url(../img/index/antiquity.jpg);
            background-position: -20.2rem 0;
        }
        .middle-ages-period::before {
            background-image: url(../img/index/middle-ages.jpg);
            background-position: -15.63rem 0;
        }
        .new-time-period::before {
            background-image: url(../img/index/new-time.jpg);
            background-position: -27.2rem 0;
        }
        .modern-period{
            &::before {
                background-position: -13.7rem 0;
                background-image: url(../img/index/modern.webp);
            }
            .swiper-arrows::after {
                display: none;
            }
        }
    }

    .time-straight {
        --time-color: var(--first-color-ancient);
        --next-time-color: var(--first-color-antiquity);
        --font-color: var(--font-color-ancient);
        margin: 2rem auto;
        width: 86.5vw;
        position: relative;
        cursor: pointer;
        .time-straight__periods {
            display: flex; 
            position: absolute;
            left: -1.33rem;
            top: -1.33rem;
            font-family: 'Russo One';
            font-size: .67rem;
            color: var(--font-color);
            padding-left: 1.33rem;
            li {
                text-align: center;
                position: relative;
                transition: .5s ease-in-out;
            }

            .ancient {
                width: 27.78vw;
            }
            .antiquity {
                width: 18vw;
            }
            .middle-ages {
                width: 15.3vw;
                margin-left: -2vw;
            }
            .new-time {
                width: 12.5vw;
                margin-left: -1.5vw;
            }
            .modern {
                width: 6.95vw;
                margin-left: -4vw;
            }
        }

        
        .time-arrow {
            display: inline-block;
            position: relative;
            width: 85vw;
            height: 5px;
            background-color: var(--time-color);
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -0.667rem;
                top: -.6rem;
                border-top: .667rem solid transparent;
                border-left: 1rem solid var(--time-color);
                border-bottom: .667rem solid transparent;
            }
        }


        .christ-birth {
            display: inline-block;
            margin-top: 0.2rem;
            position: relative;
            left: 50%;
            font-family: 'Russo One';
            font-size: 1rem;
            transform: translate(-50%);
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: -1.1rem;
                left: 37.5%;
                height: 1.2rem;
                width: .25rem;
                background-color: var(--time-color);
            }
        }

        .period-focus {
            display: block;
            position: absolute;
            background: linear-gradient(90deg, var(--time-color) 0%, var(--next-time-color) 100%);
            width: 27.78vw;
            bottom: 1.43rem;
            height: .667rem;
            left: 0;
            border-radius: .667rem;
            transition: .5s ease-in-out;
        }
    }
}